@page
@model IndexModel
@using MovieReview.Components;

@{

    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Filip Movie Review</h1>
    <p>Lets rate movies :)</p>
    <a href="https://www.imdb.com/">Other worse movie rating cite </a>
    <img src="" + Intersetellar.jpg" alt="Test Image"/>

</div>

@(await Html.RenderComponentAsync<MovieList>(RenderMode.ServerPrerendered));

<script src ="_framework/blazor.server.js"></script>;

